            <div class="b-map">
                <div class="section">
                    <h2 class="title">Тестирования</h2>
                    <ul class="list">
                        <li class="item">
                            <a class="link" href="?f1">Служебные расследования</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">При приеме на работу</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">При увольнении с работы</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Плановые проверки персонала</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Выездное тестирование</a>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <h2 class="title">Устройства</h2>
                    <ul class="list">
                        <li class="item">
                            <a class="link" href="?f1">Полиграф Барьер</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Полиграф Крис</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Полиграв Риф</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Как выбрать детектор</a>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <h2 class="title">Обучение</h2>
                    <ul class="list">
                        <li class="item">
                            <a class="link" href="?f1">Учебный план</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Запись на курсы</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Отзывы</a>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <h2 class="title">Компания</h2>
                    <ul class="list">
                        <li class="item">
                            <a class="link" href="?f1">Специалисты</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Сертификаты и награды</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Пресса о нас</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Контакты</a>
                        </li>
                        <li class="item">
                            <a class="link" href="?f1">Политика конфиденциальности</a>
                        </li>
                    </ul>
                </div>
            </div>